<div class="header">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
      <div class="clear-both"></div>
  </div>
    <div class="clear-both"></div>
  <div class="site-title-wrapper">
      <div class="site-title">{{site.title}}</div>
  </div>
</div>
